---
title: PagerDuty Service Broker for VMware Tanzu
owner: Partners
---

This documentation describes PagerDuty Service Broker for VMware Tanzu.
PagerDuty Service Broker for VMware Tanzu enables developers to integrate their VMware Tanzu apps with PagerDuty's incident management platform.


## <a id='overview'></a> Overview

PagerDuty Service Broker for VMware Tanzu registers a service broker with VMware Tanzu and exposes its service plans on the Marketplace. Developers can then create service plan instances using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI) and bind them to their apps. This integration enables provisioning for PagerDuty teams, users, services, and escalation policies.



## <a id='features'></a> Key Features

PagerDuty Service Broker for VMware Tanzu includes the following key features:

* The ability to manage PagerDuty teams, users, services, and escalation policies.
* PagerDuty Team Provisioning - Provisions a PagerDuty team based on the Pivotal Org and Space name of the Pivotal service or App that is being bound to
* PagerDuty User Provisioning 
* Multiple Pivotal users can be uploaded during the binding process (via JSON file)
* Pivotal Users can also be automatically created based on the Pivotal Org Space's team members 
* PagerDuty Service Provisioning - Users automatically have a service created to enable easy connectivity to any monitoring tools
* PagerDuty Escalation Policy Provisioning - users automatically have an Escalation Policy that has a simple escalation process  based on the Pivotal users provisioned during the User and Team provisioning step

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PagerDuty Service Broker for VMware Tanzu.

<table class="nice">
    <tr>
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.2.6</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 16, 2021</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>PagerDuty Service Broker for VMware Tanzu v1.2.6</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.7-2.10</td>
    </tr>
    <tr>
        <td>Compatible VMware Tanzu Application Service for VMs version(s)</td>
        <td>v2.7-2.11</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP</td>
    </tr>
</table>

## <a id="reqs"></a> Requirements

PagerDuty Service Broker for VMware Tanzu has the following requirements:

+ A PagerDuty account. You can sign up for a [free trial](https://signup.pagerduty.com/accounts/new).
+ Go buildpack v1.7.16 or later.


## <a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to [support@pagerduty.com](mailto:support@pagerduty.com).
