ƒ---
title: PagerDuty Service Broker for PCF (Beta)
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
PagerDuty Service Broker for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

This documentation describes PagerDuty Service Broker for Pivotal Cloud Foundry (PCF). PagerDuty Service Broker for PCF enables developers to integrate their PCF apps with PagerDuty's incident management platform.

## <a id='overview'></a>Overview

PagerDuty Service Broker for PCF registers a service broker with PCF and exposes its service plans on the Marketplace. Developers can then create service plan instances using Apps Manager or the Cloud Foundry Command
Line Interface (cf CLI) and bind them to their apps. This lets developers manage incidents with their PCF apps using PagerDuty. 

See [Using PagerDuty Service Broker for PCF](./using.html).

## <a id='features'></a>Key Features

PagerDuty Service Broker for PCF includes the following key features:

* The ability to manage PCF app incidents with PagerDuty's incident management platform
* Documentation to integrate popular PCF services with PagerDuty

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PagerDuty Service Broker for PCF.

<table class="nice">
    <tr>
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 17, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>PagerDuty Service Broker for PCF v0.0.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

PagerDuty Service Broker for PCF has the following requirements:

+ A PagerDuty account. You can sign up for a [free trial](https://signup.pagerduty.com/accounts/new).
+ Go buildpack v1.7.16 or higher.


## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [support@pagerduty.com](mailto:support@pagerduty.com).
