---
title: PagerDuty Service Broker for PCF
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

This documentation describes PagerDuty Service Broker for Pivotal Cloud Foundry (PCF). PagerDuty Service Broker for PCF enables developers to integrate their PCF apps with PagerDuty’s incident management platform.

## <a id='overview'></a>Overview

PagerDuty Service Broker for PCF registers a service broker with PCF and exposes its service plans on the Marketplace. Developers can then create service plan instances using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI) and bind them to their apps. This lets developers to automatically provision a team, users, escalation policies, service and manage incidents with their PCF apps using PagerDuty.

## <a id='features'></a>Key&nbsp;Features

PagerDuty Service Broker for PCF includes the following key features: 

* The ability to manage PCF app incidents with PagerDuty’s incident management platform
* PagerDuty Team Provisioning - Provisions a PagerDuty team based on the Pivotal Org and Space name of the Pivotal service or App that is being bound to 
* PagerDuty User Provisioning 
  * Multiple Pivotal users can be uploaded during the binding process (via JSON file)
  * Pivotal Users can also be automatically created based on the Pivotal Org Space's team members 
* PagerDuty Service Provisioning - Users automatically have a service created to enable easy connectivity to any monitoring tools
* PagerDuty Escalation Policy Provisioning - users automatically have an Escalation Policy that has a simple escalation process  based on the Pivotal users provisioned during the User and Team provisioning step

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PagerDuty Service Broker for PCF.

<table class="nice">
    <tr>
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 8, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>PagerDuty Service Broker for PCF v1.0.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

PagerDuty Service Broker for PCF has the following requirements:

+ A PagerDuty account. You can sign up for a [free trial](https://signup.pagerduty.com/accounts/new).
+ Go buildpack v1.7.16 or later.


## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [support@pagerduty.com](mailto:support@pagerduty.com).
