---
title: Installing and Configuring PagerDuty Service Broker for VMware Tanzu
owner: Partners
---

This topic describes how to install and configure PagerDuty Service Broker for VMware Tanzu.


## <a id='install-and-config'></a> Install and Configure

To import and install the PagerDuty Service Broker for VMware Tanzu tile using Ops Manager, do the following:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/pagerduty-service-broker).

2. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

3. Under the **Import a Product** button, click **+** next to the version number of PagerDuty Service Broker for VMware Tanzu. This adds the tile to your staging area.

4. Click the newly added **PagerDuty Service Broker for VMware Tanzu** tile.

5. From the **Settings** tab of your PagerDuty tile, click on **Assign AZs and Networks**.

6. Under **Network**, choose the network where PagerDuty should run.

7. Click **Save**.

8. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install PagerDuty Service Broker for VMware Tanzu tile.
