---
title: Installing and Configuring PagerDuty Service Broker for PCF
owner: Partners
---

This topic describes how to install and configure PagerDuty Service Broker for PCF.

##<a id='install'></a> Install and Configure PagerDuty Service Broker for PCF

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of PagerDuty Service Broker for PCF.
This adds the tile to your staging area.

1. Click the newly added **PagerDuty Service Broker for PCF** tile.

1. From the **Settings** tab of your PagerDuty tile, click on **Assign AZs and Networks**.

1. Under **Network**, choose the network where PagerDuty should run.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install PagerDuty Service Broker for PCF tile.
