---
title: Release Notes for PagerDuty Service Broker for PCF
owner: Partners
---

## <a id=10-1-2'></a> v0.0.2

**Release Date:** May 10, 2017

Features included in this release:

* Resolution for CVE-2017-4975

  
## <a id='0-1-1'></a> v0.0.1

**Release Date:** April 17, 2017

Features included in this release:

* MVP Open Beta
* Provides documentation to integrate your PCF apps with PagerDuty
