---
title: Release Notes for PagerDuty Service Broker for PCF
owner: Partners
---

## <a id="0-1-1"></a> v0.0.1

**Release Date:** April 14, 2017

Features included in this release:

* MVP Open Beta
* Provides documentation to integrate popular Pivotal services with PagerDuty
