---
title: Release Notes for PagerDuty Service Broker for PCF
owner: Partners
---

### v1.0.2

**Release Date:** Aug 29, 2018

Features included in this release:

* The ability to manage PCF app incidents with PagerDuty’s incident management platform
* PagerDuty Team Provisioning 
* PagerDuty User Provisioning 
* PagerDuty Service Provisioning 
* PagerDuty Escalation Policy Provisioning 


### v0.0.2

**Release Date:** May 10, 2017

Features included in this release:

* Resolution for CVE-2017-4975

## <a id="0-1-1"></a> v0.0.1

**Release Date:** April 17, 2017

Features included in this release:

* MVP Open Beta
* Provides documentation to integrate your PCF apps with PagerDuty
