---
title: Release Notes for PagerDuty Service Broker for PCF
owner: Partners
---

## <a id='1-2-0'></a> v1.2.0

**Release Date:** April 22, 2019

Features included in this release:

* Upgrade stemcell to Ubuntu Xenial 250.25.

## <a id='1-1-2'></a> v1.1.2

**Release Date:** October 1, 2018

Features included in this release:

* The ability to manage PCF app incidents with PagerDuty’s incident management platform
* PagerDuty Team Provisioning 
* PagerDuty User Provisioning 
* PagerDuty Service Provisioning 
* PagerDuty Escalation Policy Provisioning

## <a id='0-0-2'></a> v0.0.2

**Release Date:** May 10, 2017

Features included in this release:

* Resolution for CVE-2017-4975

  
## <a id='0-0-1'></a> v0.0.1

**Release Date:** April 17, 2017

Features included in this release:

* MVP Open Beta
* Provides documentation to integrate your PCF apps with PagerDuty
