---
title: Using PagerDuty Service Broker for PCF
owner: Partners
---

This topic describes how to use PagerDuty Service Broker for PCF.

##<a id='using'></a> Create and Bind a Service Instance with cf CLI

1. Log in to your deployment.

    ```
    cf login
    ```

1. List the marketplace services and locate the PagerDuty service.

    ```
    cf marketplace
    ```

1. Create an instance of the PagerDuty service, being sure to replace `<SERVICE_NAME>` with your preferred service name.

    ```
    cf create-service p-pagerduty standard <SERVICE_NAME>
    ```

1. Bind the PagerDuty service instance to an application, being sure to replace `<APP_NAME>` with your application’s name and `<SERVICE_NAME>` with your service’s name.

    ```
    cf bind-service <APP_NAME> <SERVICE_NAME>
    ```

1. Restage the application for the service binding to take effect, being sure to replace `<APP_NAME>` with your application’s name.

    ```
    cf restage <APP_NAME>
    ```

1. The application's `VCAP_SERVICES` environment variables will now contain links to documentation that allows you to connect the app to PagerDuty. The documentation is also available directly on the [PagerDuty website](https://www.pagerduty.com/integrations/).

    ```
    cf env <APP_NAME>
    ```
