---
title: Using PagerDuty Service Broker for PCF
owner: Partners
---

This topic describes how to use PagerDuty Service Broker for Pivotal Cloud Foundry (PCF).


## <a id='using'></a> Create and Bind a Service Instance with the cf CLI

1. Log in to your deployment and target the org and space where you installed PagerDuty Service Broker for PCF.
    <pre class="terminal">
    $ cf login
    $ cf target -o YOUR-ORG -s YOUR-SPACE
    </pre>

1. List the marketplace services and locate the PagerDuty service shown as `p-pagerduty`.
    <pre class="terminal">
    $ cf marketplace
    </pre>

1. Create an instance of the PagerDuty service, replacing `SERVICE-NAME` with your preferred service instance name.
    <pre class="terminal">
    $ cf create-service p-pagerduty standard SERVICE-NAME
    </pre>

1. Bind the PagerDuty service instance to an app, replacing `APP-NAME` with your app name and `SERVICE-NAME` with your service instance name.
    <pre class="terminal">
    $ cf bind-service APP-NAME SERVICE-NAME
    </pre>

1. Restage the app for the service binding to take effect, replacing `APP-NAME` with your app name.
    <pre class="terminal">
    $ cf restage APP-NAME
    </pre>

1. The `VCAP_SERVICES` environment variable of your app now contains links to documentation to help you to connect the app to PagerDuty. The documentation is also available directly on the [PagerDuty website](https://www.pagerduty.com/integrations/).
    <pre class="terminal">
    $ cf env APP-NAME
    </pre>


## <a id='ops_manager_settings'></a> Ops Manager Settings

The following features are available when logging into Ops Manager and assumes you’ve already downloaded and installed the tile into your environment. 

### PagerDuty API Key and Integration User

In order for the Pivotal tile to access the integration, you will need to provide an API integration key as well as user credentials.

1. Navigate to the the tile

1. Click the settings tab

1. Go into the PagerDuty integration step and enter your API key. To obtain an integration API key, follow directions in the link [here](https://support.pagerduty.com/docs/using-the-api).

1. Go to the Integration user step and enter your user credentials. You will need to enter a global admin’s user credentials

### Other global integration features

There are additional options to customize how the integration provisions. Click to the *Defaults and customizations*. Below are a set of options and brief description of what it does. 

**Prefix for a team name** - When adding a prefix for this field, the integration will add this prefix to the org and space name to the team name that gets provisioned into PagerDuty

**Automatically provision Space users** - When this box is checked, when you create add the PagerDuty service to your app, it will automatically provision users within that space. 

**Docs Link** - This allows you to customize the document that is linked within the tile. By default, this navigates back to PagerDuty’s user document

**Provision single PagerDuty team for Organization** - When this box is checked, it will automatically provision a team in PagerDuty when an org is created 

## <a id='apps_manager_settings'></a> Apps Manager Settings

The following features are available when logging into Apps Manager.

### Team Provisioning

When adding the PagerDuty service to your Pivotal app, it will automatically provision a PagerDuty team utilizing the Space Name and your Org Name of your Pivotal environment. Additionally, when adding your application to your Pivotal app, it will create a PagerDuty Escalation Policy and Service for that new team. 

### User Provision

User Provisioning can be accomplished in two ways: 

* Using existing users already members of your Pivotal space 
* Manually entering users 

If the user does not have an existing account in PagerDuty and they are added during the Pivotal user provisioning process, the user will consume a PagerDuty license

### Using existing users already members of your Pivotal space 

You can provision users utilizing existing members of your Pivotal space. The roles are currently mapped as follows:

<table class="nice">
    <tr>
    <th>Pivotal Role</th>
    <th>PagerDuty Role</th>
    <tr>
        <td>Space Manager</td>
        <td>Team Manager</td>
    </tr>
    <tr>
        <td>Space Developer</td>
        <td>Responder</td>
    </tr>
</table>

To enable this user provisioning method:

1. Navigate to your app
1. Create a new Service
1. Select PagerDuty
1. Select the default plan 
1. Click on ‘Enter JSON’
1. Enter the following: `{“provision_space_users”:true}`
1. Click create

![User Provision](/master_middleman/source/images/using_create_service.png)

### Manually entering users

You can also manually enter users within a JSON file to provision multiple users. The required fields are: email, name, and role. 

1. Create a new Service
1. Select PagerDuty
1. Select the default plan 
1. Click on ‘Enter JSON’
1. Enter the following: 
```
	{
		“users”: [{
			“email”: “john@test.com” , 
			“name”: “John Doe”, 
			“role”: “team_responder”
		}]
    }
```

Where email is the user’s email, the name is the user’s name and the role is a PagerDuty role. 

![Manually entering users](/master_middleman/source/images/using_create_service_manual.png)
